.App {
  text-align: center;
}

.business{
    color: white;
    background-color: #365486;
}
.economy-plus{
    color: white;
    background-color: #5179ba;
}
.economy{
    color: white;
    background-color: #2c3850;
}
.first-class{
    color: white;
    background-color: #1f2a3f;
}

.flight-details-page-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.flight-details-page {
    width: 50%;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D32F2F; /* changed from #FF0000 to #D32F2F */
    color: white;
}