.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.flight-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    padding: 20px;
}

.flight {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    width: 20%;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    border: #333333 solid 1px;
}

.flight:hover {
    background-color: #ddd;
}

.origin {
    font-weight: bold;
    color: #333;
}

.destination {
    font-style: italic;
    color: #666;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-container input[type="text"] {
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-container button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #666;
}